体系-IATF16949标准查询、对比AI助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 体系-IATF16949标准查询、对比AI助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@77274df8fe2632cac66bfd153fcc75aa5e96abbe92b5c611b8984ad9f4cd4457
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 15
        file_size_limit: 200
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1754884194776-source-1754884408803-target
      source: '1754884194776'
      sourceHandle: source
      target: '1754884408803'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1754884408803-false-1754884516255-target
      source: '1754884408803'
      sourceHandle: 'false'
      target: '1754884516255'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1754884516255-true-1754884562626-target
      source: '1754884516255'
      sourceHandle: 'true'
      target: '1754884562626'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: document-extractor
      id: 1754884562626-1-1754890387106-target
      source: '1754884562626'
      sourceHandle: '1'
      target: '1754890387106'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1754890747514-source-1754890760148-target
      source: '1754890747514'
      sourceHandle: source
      target: '1754890760148'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1754890760148-source-1754891032306-target
      source: '1754890760148'
      sourceHandle: source
      target: '1754891032306'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: document-extractor
      id: 1754884562626-2-1754891092505-target
      source: '1754884562626'
      sourceHandle: '2'
      target: '1754891092505'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1754891092505-source-1754891124851-target
      source: '1754891092505'
      sourceHandle: source
      target: '1754891124851'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1754891124851-source-17548911369380-target
      source: '1754891124851'
      sourceHandle: source
      target: '17548911369380'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 17548911369380-source-1754891176473-target
      source: '17548911369380'
      sourceHandle: source
      target: '1754891176473'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1754891176473-source-1754891195688-target
      selected: false
      source: '1754891176473'
      sourceHandle: source
      target: '1754891195688'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1754891195688-source-1754891236128-target
      source: '1754891195688'
      sourceHandle: source
      target: '1754891236128'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1754884516255-false-1754891271690-target
      selected: false
      source: '1754884516255'
      sourceHandle: 'false'
      target: '1754891271690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1754892001573-source-1754892030456-target
      selected: false
      source: '1754892001573'
      sourceHandle: source
      target: '1754892030456'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1754891271690-2-1754892001573-target
      source: '1754891271690'
      sourceHandle: '2'
      target: '1754892001573'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1754892030456-source-1754892381327-target
      source: '1754892030456'
      sourceHandle: source
      target: '1754892381327'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1754891271690-1-17548924672480-target
      selected: false
      source: '1754891271690'
      sourceHandle: '1'
      target: '17548924672480'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 17548925292670-source-17548925496670-target
      source: '17548925292670'
      sourceHandle: source
      target: '17548925496670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17548925496670-source-1754892631417-target
      source: '17548925496670'
      sourceHandle: source
      target: '1754892631417'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1754884408803-true-1754892879167-target
      source: '1754884408803'
      sourceHandle: 'true'
      target: '1754892879167'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1754892879167-source-1754893622757-target
      source: '1754892879167'
      sourceHandle: source
      target: '1754893622757'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1754893622757-source-1754893665358-target
      source: '1754893622757'
      sourceHandle: source
      target: '1754893665358'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1754893665358-source-1754893697211-target
      source: '1754893665358'
      sourceHandle: source
      target: '1754893697211'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1754893697211-false-1754884516255-target
      source: '1754893697211'
      sourceHandle: 'false'
      target: '1754884516255'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1754893697211-true-1754893718651-target
      source: '1754893697211'
      sourceHandle: 'true'
      target: '1754893718651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1754893718651-source-1754893784359-target
      source: '1754893718651'
      sourceHandle: source
      target: '1754893784359'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1754890387106-source-1754895269605-target
      source: '1754890387106'
      sourceHandle: source
      target: '1754895269605'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1754895269605-source-1754895315893-target
      selected: false
      source: '1754895269605'
      sourceHandle: source
      target: '1754895315893'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 1754895315893-source-1754895400510-target
      source: '1754895315893'
      sourceHandle: source
      target: '1754895400510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1754895400510-source-1754890747514-target
      source: '1754895400510'
      sourceHandle: source
      target: '1754890747514'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17548924672480-source-17548964844000-target
      source: '17548924672480'
      sourceHandle: source
      target: '17548964844000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 17548964844000-source-17548965187830-target
      source: '17548964844000'
      sourceHandle: source
      target: '17548965187830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 17548965187830-source-17548925292670-target
      selected: false
      source: '17548965187830'
      sourceHandle: source
      target: '17548925292670'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 记忆
          max_length: 48
          options:
          - 是
          - 否
          required: true
          type: select
          variable: memory
      height: 90
      id: '1754884194776'
      position:
        x: 30
        y: 591.5
      positionAbsolute:
        x: 30
        y: 591.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 58a8691e-de88-4916-a9de-df8655ad4b2a
            value: 是
            varType: string
            variable_selector:
            - '1754884194776'
            - memory
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1754884408803'
      position:
        x: 364
        y: 591.5
      positionAbsolute:
        x: 364
        y: 591.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 9d4ee0a3-3cdb-455a-9065-0f0833cafb67
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 126
      id: '1754884516255'
      position:
        x: 2550
        y: 481
      positionAbsolute:
        x: 2550
        y: 481
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 判定所提交信息是否符合IATF16949政策要求。
        - id: '2'
          name: 其他的问题
        desc: ''
        instruction: "# 文本分类规则\n\n用户问题： {{#sys.query#}}\n\n## 分类标准\n\n### Class 1（合规检查类）\n\
          **满足以下任一条件时选择：**\n1. 用户**明确要求**进行合规性检查（使用以下关键词）：\n   - \"是否符合\"\n   - \"\
          是否合规\"\n   - \"检查合规性\"\n   - \"验证是否符合\"\n2. 输入文本为无法解析的内容：\n   - 完全乱码（如\"\
          fhoiearon\"）\n   - 空内容\n\n### Class 2（常规问答类）\n**默认归类，适用于以下情况：**\n1. 询问流程/职责相关问题：\n\
          \   - \"需要哪些具体职责\"\n   - \"如何确保...被满足\"\n   - \"应该记录什么\"\n2. 请求文档操作：\n \
          \  - \"重写此文档\"\n   - \"优化以下内容\"\n   - \"解释这条政策\"\n3. 其他所有不明确要求合规检查的查询\n\n\
          ## 决策流程\n1. 首先检查是否满足Class 1的明确条件\n2. 如果不确定，默认选择Class 2\n3. 特别注意事项：\n   -\
          \ 包含\"要求\"、\"标准\"等词但未明确要求检查的 → Class 2\n   - 询问\"如何做到合规\" → Class 2\n  \
          \ - 直接问\"这个合规吗\" → Class 1\n\n## 示例说明\n| 用户问题 | 正确分类 |\n|---------|----------|\n\
          | \"这份政策是否符合ISO标准？\" | Class 1 |\n| \"需要哪些职责来确保需求被满足？\" | Class 2 | \n|\
          \ \"fhewuih\" (乱码) | Class 1 |\n| \"如何修改这份文件使其合规？\" | Class 2 |"
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-8B
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - '1754884194776'
        - sys.query
        selected: false
        title: 问题分类
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 188
      id: '1754884562626'
      position:
        x: 2975
        y: 294
      positionAbsolute:
        x: 2975
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器 1
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 94
      id: '1754890387106'
      position:
        x: 3309
        y: 294
      positionAbsolute:
        x: 3309
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - FWdq3nH1WgapiMNJhRKaBjamoFbxalTemEHBZvi6KWXQZ7PiFmI6A9Ng2ih3SDCk
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: /home/user/Desktop/MODELFILE/bge-reranker-v2-m3
            provider: langgenius/openai_api_compatible/openai_api_compatible
          score_threshold: null
          top_k: 200
        query_variable_selector:
        - '1754895400510'
        - result
        retrieval_mode: multiple
        selected: false
        title: IATF16949知识检索
        type: knowledge-retrieval
      height: 92
      id: '1754890747514'
      position:
        x: 4645
        y: 294
      positionAbsolute:
        x: 4645
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1754890747514'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: f5c8e716-190a-41c1-aa66-09689ed4df4f
          role: system
          text: "**核心行为准则：**\n1.  **语言：** 您必须全程使用**中文**进行思考、分析和回答。您的所有输出，包括最终的分析报告，都必须是中文。\n\
            2. **角色：** 你是IATF 16949政策合规检查员。你的任务是将用户输入的政策与知识库中的IATF 16949政策进行比对\n\n\
            **核心任务：**\n您的任务是将提供的文档（`分析此文档`）中的各项政策，与公司的`知识库上下文`进行逐条比对和合规性分析。\n\n**核心约束：**\n\
            *   **严格限定范围：** 分析时，**仅能参考**提供的`知识库上下文`。严禁引用任何外部在线16949文档、通用知识或知识库以外的内容。\n\
            *   **格式化输出：** 最终结果**必须以一个Markdown表格**呈现，并在表格下方附上分析摘要。\n\n---\n\n**输入信息**\n\
            \n**分析此文档：**\n{{#1754890387106.text#}}\n\n**知识库上下文：**\n{{#context#}}\n\
            \n---\n\n**分析与决策逻辑**\n\n对每一项独立的输入政策，请遵循以下决策树进行判断：\n```\n决策树 = \"\"\"\n\
            知识库匹配规则：\n✅ 符合：\n- 要求：与知识库策略无实质性冲突，允许表述上的差异。\n- 逻辑：输入政策达到或超越了知识库要求的目标。\n\
            - 示例：知识库:\"密码必须12位\" vs 输入:\"密码最短12位\"。\n\n❌ 不符合：\n- 要求：与知识库的核心要求存在直接、明确的冲突。\n\
            - 逻辑：输入政策削弱、规避或违背了知识库中定义的控制措施。\n- 示例：知识库:\"禁止共享账户\" vs 输入:\"允许临时共享账户\"\
            。\n\n\U0001F7E1 未找到匹配：\n- 要求：知识库中没有与输入政策直接相关的条款。\n- 示例：输入政策是关于“物理服务器退役的数据擦除标准”，但知识库中仅有“虚拟服务器管理策略”。\n\
            \"\"\"\n```\n\n---\n\n### **输出格式要求**\n\n请将您的分析报告严格按照以下“表格”和“摘要”两部分格式输出。\n\
            \n#### **1. 分析结果表格**\n\n创建一个包含以下列的Markdown表格：\n\n| 序号 | 输入政策 | 符合状态 |\
            \ 知识库引用 | 证据 (文本与位置) | 详情 (冲突与改进措施) |\n| :--- | :--- | :--- | :--- | :---\
            \ | :--- |\n\n**各列填写说明：**\n*   **序号：** 填入从1开始的连续编号。\n*   **输入政策：** 填入待评估的政策原文。\n\
            *   **符合状态：** 填写 `符合`、`不符合` 或 `未找到匹配`。\n*   **知识库引用：** 填写匹配到的 `[文档编号].[章节号]`，若无则填写\
            \ `不适用`。\n*   **证据 (文本与位置)：**\n    *   当状态为 `符合` 或 `不符合` 时，填写：\n     \
            \   *   **证据文本：** `\"[知识库中的直接引用]\"`\n        *   **证据位置：** `[文档名称] > [章节标题]`\n\
            \    *   当状态为 `未找到匹配` 时，此栏填写 `无`。\n*   **详情 (冲突与改进措施)：**\n    *   **仅当“符合状态”为“不符合”时**，才需要填写此列。内容应包括：\n\
            \        *   **冲突详情：** `- [具体冲突点描述]`\n        *   **改进措施：** `- [具体的行动建议]\
            \ (负责人：[角色]，时限：[时间])`\n    *   对于其他状态，此栏填写 `无`。\n\n#### **2. 分析摘要**\n\n\
            在表格的下方，提供一个独立的摘要部分：\n\n**已分析政策总数：** [X]\n**符合：** [Y]\n**不符合：** [Z]\n**未找到匹配：**\
            \ [W]\n\n---\n\n### **完整输出示例**\n\n| 序号 | 输入政策 | 符合状态 | 知识库引用 | 证据 (文本与位置)\
            \ | 详情 (冲突与改进措施) |\n| :--- | :--- | :--- | :--- | :--- | :--- |\n| 1 |\
            \ \"所有供应商PPAP文件必须保存5年\" | 符合 | QMS-8.4.2.3 | **证据文本:** `\"供应商PPAP记录保存期限不得少于产品生命周期+1个日历年\"\
            `<br>**证据位置:** `《供应商管理程序》 > 8.4.2.3 记录保存` | 无 |\n| 2 | \"允许临时供应商免做MSA分析\"\
            \ | 不符合 | QMS-7.1.5.1 | **证据文本:** `\"所有量具必须在使用前完成测量系统分析(MSA)，GR&R≤10%\"\
            `<br>**证据位置:** `《测量系统控制规范》 > 7.1.5.1 测量设备验证` | **冲突详情:**<br>- 违反IATF 16907条款7.1.5.1强制性要求<br>-\
            \ 可能导致测量数据失效<br>**改进措施:**<br>- 立即终止豁免条款 (负责人: `质量经理`)<br>- 48小时内完成MSA补测\
            \ (负责人: `测量工程师`) |\n| 3 | \"生产设备预防性维护周期延长至6个月\" | 未找到匹配 | 不适用 | 无 | 无\
            \ |\n\n**分析摘要**  \n**已分析政策总数:** 3  \n**符合:** 1  \n**不符合:** 1  \n**未找到匹配:**\
            \ 1  \n\n\n"
        selected: true
        title: '合规检查器 '
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754890760148'
      position:
        x: 4979
        y: 294
      positionAbsolute:
        x: 4979
        y: 294
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1754890760148.text#}}'
        desc: ''
        selected: false
        title: 最终回答
        type: answer
        variables: []
      height: 105
      id: '1754891032306'
      position:
        x: 5313
        y: 294
      positionAbsolute:
        x: 5313
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器 2
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 94
      id: '1754891092505'
      position:
        x: 3309
        y: 431.5
      positionAbsolute:
        x: 3309
        y: 431.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1754891092505'
          - text
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 51611b57-5236-4108-90f9-bad04248de7b
          role: system
          text: '# 任务指令

            你的任务是严格地、不加任何修饰地、逐字逐句地复制并输出我在“{{#context#}}”部分提供的所有内容。

            不要添加任何开场白、结尾、解释或评论。你的输出必须与上下文中的内容完全一致。


            # 待输出文本

            这里是需要被复制的具体内容。

            它可以是任何东西，包括代码、诗歌或一段普通的话。

            '
        selected: false
        title: 直接输出文本
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754891124851'
      position:
        x: 3643
        y: 431.5
      positionAbsolute:
        x: 3643
        y: 431.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\ndef main(arg1: str) -> dict:\n    clean_answer = re.sub(r'<think[^>]*>.*?</think>',\
          \ '', arg1, flags=re.DOTALL)  # Fixed pattern\n    final_answer = re.sub(r'^\\\
          n+', '', clean_answer)  # Separate line\n    return {\n        \"result\"\
          : final_answer,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 删除模型思考
        type: code
        variables:
        - value_selector:
          - '1754891124851'
          - text
          value_type: string
          variable: arg1
      height: 54
      id: '17548911369380'
      position:
        x: 3977
        y: 465
      positionAbsolute:
        x: 3977
        y: 465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - FWdq3nH1WgapiMNJhRKaBjamoFbxalTemEHBZvi6KWXQZ7PiFmI6A9Ng2ih3SDCk
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: /home/user/Desktop/MODELFILE/bge-reranker-v2-m3
            provider: langgenius/openai_api_compatible/openai_api_compatible
          score_threshold: null
          top_k: 200
        query_variable_selector:
        - '1754884194776'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: IATF16949知识检索
        type: knowledge-retrieval
      height: 92
      id: '1754891176473'
      position:
        x: 4311
        y: 412.5
      positionAbsolute:
        x: 4311
        y: 412.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1754891176473'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: a55e6a67-21b8-46eb-9c90-1fb3d002cf61
          role: system
          text: "# 角色与任务\n你的任务是作为一名专家，根据用户提问 `{{#sys.query#}}`，并严格依据以下提供的上下文和用户提供的文档信息，生成一个准确、完整且流畅的回答。\n\
            \n# 用户提供的文档\n{{#1754891092505.text#}}\n# 上下文\n{{#context#}}\n\n#语言\n你思考和回答的语文必须都是中文。\n\
            \n# 核心指令\n1.  **限定范围**：你的回答必须完全基于提供的 上下文，用户提供的文档，或用户的问题。严禁使用任何外部知识或进行猜测。\n\
            2.  **综合提炼**：不要直接复制粘贴上下文的原文。你需要理解并综合上下文中的相关信息，形成一个连贯的回答。\n3.  **诚实原则**：如果用户提供的文档、上下文或知识库中没有足够的信息来回答用户的问题，或者这些内容与问题完全不相关，你必须严格回复以下内容，不得添加任何额外解释\n\
            \    “对不起，知识库和上下文里面没有跟‘{{#sys.query#}}’的主题有关的内容。”\n\n"
        selected: false
        title: 问题搜索
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754891195688'
      position:
        x: 4645
        y: 432.5
      positionAbsolute:
        x: 4645
        y: 432.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1754891195688.text#}}'
        desc: ''
        selected: false
        title: 最终回答
        type: answer
        variables: []
      height: 105
      id: '1754891236128'
      position:
        x: 4979
        y: 424
      positionAbsolute:
        x: 4979
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 判定所提交信息是否符合IATF16949政策要求。
        - id: '2'
          name: 其他的问题
        desc: ''
        instruction: "# 文本分类规则\n\n用户问题： {{#sys.query#}}\n\n## 分类标准\n\n### Class 1（合规检查类）\n\
          **满足以下任一条件时选择：**\n1. 用户**明确要求**进行合规性检查（使用以下关键词）：\n   - \"是否符合\"\n   - \"\
          是否合规\"\n   - \"检查合规性\"\n   - \"验证是否符合\"\n2. 输入文本为无法解析的内容：\n   - 完全乱码（如\"\
          fhoiearon\"）\n   - 空内容\n\n### Class 2（常规问答类）\n**默认归类，适用于以下情况：**\n1. 询问流程/职责相关问题：\n\
          \   - \"需要哪些具体职责\"\n   - \"如何确保...被满足\"\n   - \"应该记录什么\"\n2. 请求文档操作：\n \
          \  - \"重写此文档\"\n   - \"优化以下内容\"\n   - \"解释这条政策\"\n3. 其他所有不明确要求合规检查的查询\n\n\
          ## 决策流程\n1. 首先检查是否满足Class 1的明确条件\n2. 如果不确定，默认选择Class 2\n3. 特别注意事项：\n   -\
          \ 包含\"要求\"、\"标准\"等词但未明确要求检查的 → Class 2\n   - 询问\"如何做到合规\" → Class 2\n  \
          \ - 直接问\"这个合规吗\" → Class 1\n\n## 示例说明\n| 用户问题 | 正确分类 |\n|---------|----------|\n\
          | \"这份政策是否符合ISO标准？\" | Class 1 |\n| \"需要哪些职责来确保需求被满足？\" | Class 2 | \n|\
          \ \"fhewuih\" (乱码) | Class 1 |\n| \"如何修改这份文件使其合规？\" | Class 2 |"
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-8B
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - '1754884194776'
        - sys.query
        selected: false
        title: 问题分类
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 188
      id: '1754891271690'
      position:
        x: 3309
        y: 565.5
      positionAbsolute:
        x: 3309
        y: 565.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - FWdq3nH1WgapiMNJhRKaBjamoFbxalTemEHBZvi6KWXQZ7PiFmI6A9Ng2ih3SDCk
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: /home/user/Desktop/MODELFILE/bge-reranker-v2-m3
            provider: langgenius/openai_api_compatible/openai_api_compatible
          score_threshold: null
          top_k: 200
        query_variable_selector:
        - '1754884194776'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: IATF16949知识检索
        type: knowledge-retrieval
      height: 92
      id: '1754892001573'
      position:
        x: 3643
        y: 611.5
      positionAbsolute:
        x: 3643
        y: 611.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1754892001573'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: be6db497-d041-4da1-88b1-07e882dd631a
          role: system
          text: "# 角色与任务\n你的任务是作为一名专家，根据用户提问 `{{#sys.query#}}`，并严格依据以下提供的上下文和用户问题的信息，生成一个准确、完整且流畅的回答。\n\
            \n#用户问题\n{{#sys.query#}}\n# 上下文\n{{#context#}}\n\n#语言\n你思考和回答的语文必须都是中文。\n\
            \n# 核心指令\n1.  **限定范围**：你的回答必须完全基于提供的 上下文和用户问题。严禁使用任何外部知识或进行猜测。\n2.  **综合提炼**：不要直接复制粘贴上下文的原文。你需要理解并综合上下文中的相关信息，形成一个连贯的回答。\n\
            3.  **诚实原则**：如果上下文或用户问题中没有足够的信息来回答用户的问题，或者上下文与问题完全不相关，你必须回复以下内容，不得添加任何额外解释：\n\
            \    “对不起，知识库里面没有跟‘{{#sys.query#}}’的主题有关的内容。”\n\n"
        selected: false
        title: 问题搜索
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754892030456'
      position:
        x: 3977
        y: 628
      positionAbsolute:
        x: 3977
        y: 628
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1754892030456.text#}}'
        desc: ''
        selected: false
        title: 最终回答
        type: answer
        variables: []
      height: 105
      id: '1754892381327'
      position:
        x: 4311
        y: 587
      positionAbsolute:
        x: 4311
        y: 587
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 83ba9c20-c64c-4939-9cf2-d5d489a60e38
          role: system
          text: '**总则：请全程使用中文进行思考和回答。**


            你的任务是从用户提供的文本（`{{#context#}}`）中，识别并分别提取两种类型的信息：**1) 政策条款** 和 **2) 政策问题**。


            请严格按照以下定义和格式进行操作。


            ---


            ### **任务一：识别和提取“政策条款”**


            **“政策条款”** 是指描述公司强制性要求、操作标准、合规义务或明确责任的陈述句。


            **识别标准（满足以下任一即可）：**

            *   **强制性词语：** 包含“**必须**”、“**应**”、“**将**”、“**要求**”、“**规定**”、“**禁止**”等词语。

            *   **明确的责任：** 明确了特定角色（如员工、供应商、承包商）的责任或义务。

            *   **技术/管理控制：** 描述了具体的安全或操作控制措施（如“使用VPN”、“加密存储”、“记录日志”）。

            *   **合规性要求：** 明确引用了外部法律法规或行业标准作为行为依据（如“**符合GDPR**”、“**满足《网络安全法》要求**”、“**遵循ISO27001标准**”）。

            *   **标准操作程序（SOP）：** 带有编号（特别是带小数点的，如 `3.1.2`）并描述具体操作步骤或规则的条款。


            **示例原文：**

            *   “供应商必须签署保密协议。”

            *   “个人数据应加密存储，以满足《网络安全法》要求。”

            *   “4.2.1 所有对生产数据库的访问都必须通过双因素认证（2FA）。”


            ---


            ### **任务二：识别和提取“政策问题”**


            **“政策问题”** 是指为了验证某项政策是否被遵守而提出的疑问句或检查项。


            **识别标准：**

            *   **疑问形式：** 通常以“**是否**”、“**如何**”、“**有没有**”等词开头，或以问号“**？**”结尾。

            *   **审核性陈述：** 以“**检查项**”、“**审核点**”、“**验证**”、“**确保**”等词语引导的，用于确认合规状态的陈述句。

            *   **内容相关性：** 问题的核心内容直接关联到某项规则的执行情况。


            **示例原文：**

            *   “是否对所有个人数据实施加密存储？”

            *   “是否要求所有供应商签署保密协议？”

            *   “检查项：确认所有数据库访问均已记录日志。”


            ---


            ### **输出要求**


            请将所有识别出的结果汇总到一个**表格**中进行输出。


            *   **表格格式**：表格应包含三列，依次为：**“序号”**、**“类型”**和**“内容”**。

            *   **“序号”列**：从1开始的自动递增编号。

            *   **“类型”列**：明确标注该条目是“**政策条款**”还是“**政策问题**”。

            *   **“内容”列**：填入从原文中提取的完整句子。


            **输出表示例：**


            | 序号 | 类型 | 内容 |

            | :--- | :--- | :--- |

            | 1 | 政策条款 | 供应商必须签署保密协议。 |

            | 2 | 政策条款 | 个人数据应加密存储，以满足《网络安全法》要求。 |

            | 3 | 政策问题 | 是否对所有个人数据实施加密存储？ |

            | 4 | 政策问题 | 检查项：确认所有数据库访问均已记录日志。 |



            **重要提示：**

            *   如果原文中没有找到任何符合条件的内容，则输出一个空表。

            *   不要自己创造或改写内容，严格从原文中提取。

            *   **再次强调，必须全程使用中文进行思考和回答，并以包含序号的三列表格形式呈现最终结果。**'
        selected: false
        title: 问题/条款提取
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17548924672480'
      position:
        x: 3643
        y: 758
      positionAbsolute:
        x: 3643
        y: 758
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - FWdq3nH1WgapiMNJhRKaBjamoFbxalTemEHBZvi6KWXQZ7PiFmI6A9Ng2ih3SDCk
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: /home/user/Desktop/MODELFILE/bge-reranker-v2-m3
            provider: langgenius/openai_api_compatible/openai_api_compatible
          score_threshold: null
          top_k: 200
        query_variable_selector:
        - '17548965187830'
        - result
        retrieval_mode: multiple
        selected: false
        title: IATF16949知识检索
        type: knowledge-retrieval
      height: 92
      id: '17548925292670'
      position:
        x: 4645
        y: 758
      positionAbsolute:
        x: 4645
        y: 758
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '17548925292670'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: f5c8e716-190a-41c1-aa66-09689ed4df4f
          role: system
          text: "**核心行为准则：**\n1.  **语言：** 您必须全程使用**中文**进行思考、分析和回答。您的所有输出，包括最终的分析报告，都必须是中文。\n\
            2. **角色：** 你是IATF 16949政策合规检查员。你的任务是将用户输入的政策与知识库中的IATF 16949政策进行比对\n\n\
            **核心任务：**\n您的任务是将提供的文本（`分析此文本`）中的各项政策，与公司的`知识库上下文`进行逐条比对和合规性分析。\n\n**核心约束：**\n\
            *   **严格限定范围：** 分析时，**仅能参考**提供的`知识库上下文`。严禁引用任何外部在线16949文档、通用知识或知识库以外的内容。\n\
            *   **格式化输出：** 最终结果**必须以一个Markdown表格**呈现，并在表格下方附上分析摘要。\n\n---\n\n**输入信息**\n\
            \n**分析此文本：**\n{{#sys.query#}}\n\n**知识库上下文：**\n{{#context#}}\n\n---\n\n\
            **分析与决策逻辑**\n\n对每一项独立的输入政策，请遵循以下决策树进行判断：\n```\n决策树 = \"\"\"\n知识库匹配规则：\n\
            ✅ 符合：\n- 要求：与知识库策略无实质性冲突，允许表述上的差异。\n- 逻辑：输入政策达到或超越了知识库要求的目标。\n- 示例：知识库:\"\
            密码必须12位\" vs 输入:\"密码最短12位\"。\n\n❌ 不符合：\n- 要求：与知识库的核心要求存在直接、明确的冲突。\n- 逻辑：输入政策削弱、规避或违背了知识库中定义的控制措施。\n\
            - 示例：知识库:\"禁止共享账户\" vs 输入:\"允许临时共享账户\"。\n\n\U0001F7E1 未找到匹配：\n- 要求：知识库中没有与输入政策直接相关的条款。\n\
            - 示例：输入政策是关于“物理服务器退役的数据擦除标准”，但知识库中仅有“虚拟服务器管理策略”。\n\"\"\"\n```\n\n---\n\
            \n### **输出格式要求**\n\n请将您的分析报告严格按照以下“表格”和“摘要”两部分格式输出。\n\n#### **1. 分析结果表格**\n\
            \n创建一个包含以下列的Markdown表格：\n\n| 序号 | 输入政策 | 符合状态 | 知识库引用 | 证据 (文本与位置) | 详情\
            \ (冲突与改进措施) |\n| :--- | :--- | :--- | :--- | :--- | :--- |\n\n**各列填写说明：**\n\
            *   **序号：** 填入从1开始的连续编号。\n*   **输入政策：** 填入待评估的政策原文。\n*   **符合状态：** 填写\
            \ `符合`、`不符合` 或 `未找到匹配`。\n*   **知识库引用：** 填写匹配到的 `[文档编号].[章节号]`，若无则填写 `不适用`。\n\
            *   **证据 (文本与位置)：**\n    *   当状态为 `符合` 或 `不符合` 时，填写：\n        *   **证据文本：**\
            \ `\"[知识库中的直接引用]\"`\n        *   **证据位置：** `[文档名称] > [章节标题]`\n    *  \
            \ 当状态为 `未找到匹配` 时，此栏填写 `无`。\n*   **详情 (冲突与改进措施)：**\n    *   **仅当“符合状态”为“不符合”时**，才需要填写此列。内容应包括：\n\
            \        *   **冲突详情：** `- [具体冲突点描述]`\n        *   **改进措施：** `- [具体的行动建议]\
            \ (负责人：[角色]，时限：[时间])`\n    *   对于其他状态，此栏填写 `无`。\n\n#### **2. 分析摘要**\n\n\
            在表格的下方，提供一个独立的摘要部分：\n\n**已分析政策总数：** [X]\n**符合：** [Y]\n**不符合：** [Z]\n**未找到匹配：**\
            \ [W]\n\n---\n\n### **完整输出示例**\n\n| 序号 | 输入政策 | 符合状态 | 知识库引用 | 证据 (文本与位置)\
            \ | 详情 (冲突与改进措施) |\n| :--- | :--- | :--- | :--- | :--- | :--- |\n| 1 |\
            \ \"所有供应商PPAP文件必须保存5年\" | 符合 | QMS-8.4.2.3 | **证据文本:** `\"供应商PPAP记录保存期限不得少于产品生命周期+1个日历年\"\
            `<br>**证据位置:** `《供应商管理程序》 > 8.4.2.3 记录保存` | 无 |\n| 2 | \"允许临时供应商免做MSA分析\"\
            \ | 不符合 | QMS-7.1.5.1 | **证据文本:** `\"所有量具必须在使用前完成测量系统分析(MSA)，GR&R≤10%\"\
            `<br>**证据位置:** `《测量系统控制规范》 > 7.1.5.1 测量设备验证` | **冲突详情:**<br>- 违反IATF 16907条款7.1.5.1强制性要求<br>-\
            \ 可能导致测量数据失效<br>**改进措施:**<br>- 立即终止豁免条款 (负责人: `质量经理`)<br>- 48小时内完成MSA补测\
            \ (负责人: `测量工程师`) |\n| 3 | \"生产设备预防性维护周期延长至6个月\" | 未找到匹配 | 不适用 | 无 | 无\
            \ |\n\n**分析摘要**  \n**已分析政策总数:** 3  \n**符合:** 1  \n**不符合:** 1  \n**未找到匹配:**\
            \ 1  \n\n\n"
        selected: false
        title: 合规检查器
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17548925496670'
      position:
        x: 4979
        y: 758
      positionAbsolute:
        x: 4979
        y: 758
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17548925496670.text#}}'
        desc: ''
        selected: false
        title: 最终回答
        type: answer
        variables: []
      height: 105
      id: '1754892631417'
      position:
        x: 5313
        y: 758
      positionAbsolute:
        x: 5313
        y: 758
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 您已开启上下文记忆功能，回答时长会有所增加，请耐心等待。如需关闭记忆功能，请点击左上角开启新对话~
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 134
      id: '1754892879167'
      position:
        x: 789
        y: 454.5
      positionAbsolute:
        x: 789
        y: 454.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '用户问题：{{#sys.query#}}






            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 092b4508-0f08-45af-b83f-eac32e59408c
          role: system
          text: '#### **# 核心任务**

            你的任务是作为一个智能分类器。分析给定的 `[记忆窗口]` (即上下文) 和 `[用户问题]`，判断该问题是否**强依赖**于`[记忆窗口]`来生成一个准确、连贯且符合用户意图的回答。

             

            ---

             

            #### **# 输入定义**

            *   `[记忆窗口]`：代表之前的对话历史或背景信息。

            *   `[用户问题]`：代表用户当前提出的问题。

             

            ---

             

            #### **# 判断规则**

             

            **首要规则：**

            *   如果 `[记忆窗口]` 为空，**必须**输出 "no"。

             

            **特殊指令覆盖：**

            *   如果 `[用户问题]` 中明确包含“无需检索知识库”或类似表述，**必须**输出 "yes"。

             

            **如果满足以下任一条件，输出 "yes" (代表“依赖上下文”)：**

             

            1.  **直接引用与显式指令**：问题直接询问、引用 `[记忆窗口]` 的内容，或包含明确指令要求基于上下文进行操作。

                *   **关键词示例**：“根据上面说的”、“总结一下”、“继续”、“那这个呢？”、“详细说说”、“为什么会这样？”

             

            2.  **上下文延续与深化**：问题是 `[记忆窗口]` 话题的自然延续、追问、比较、要求举例、或进行推断。即使没有明确的指代词，逻辑上也紧密相连。

                *   **示例**：

                    *   记忆窗口：“苹果公司发布了新款iPhone。”

                    *   用户问题：“它的摄像头有多少像素？”

             

            3.  **寻求相关替代方案**：问题在探讨与 `[记忆窗口]` 主题相关的其他选项、解决方案或可能性。

                *   **示例**：

                    *   记忆窗口：“A方案的优点是成本低。”

                    *   用户问题：“那B方案呢？”

             

            **如果满足以下任一条件，输出 "no" (代表“不依赖上下文”)：**

             

            1.  **开启全新话题**：问题与 `[记忆窗口]` 的主题、实体、意图完全无关。

                *   **示例**：

                    *   记忆窗口：“我们来讨论一下全球气候变化。”

                    *   用户问题：“给我讲个笑话吧。”

             '
        selected: false
        title: 判断是否需要根据上下文窗口回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754893622757'
      position:
        x: 1123
        y: 454.5
      positionAbsolute:
        x: 1123
        y: 454.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\ndef main(arg1: str) -> dict:\n    clean_answer = re.sub(r'<think[^>]*>.*?</think>','',arg1,flags=re.DOTALL)\n\
          \    final_answer = re.sub(r'^\\n+','',clean_answer)\n    return {\n   \
          \     \"result\": final_answer,\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 删除模型思考
        type: code
        variables:
        - value_selector:
          - '1754893622757'
          - text
          value_type: string
          variable: arg1
      height: 54
      id: '1754893665358'
      position:
        x: 1457
        y: 454.5
      positionAbsolute:
        x: 1457
        y: 454.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c85655de-c02f-41a8-a9cf-093b46c64ffd
            value: 'yes'
            varType: string
            variable_selector:
            - '1754893665358'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 126
      id: '1754893697211'
      position:
        x: 1791
        y: 454.5
      positionAbsolute:
        x: 1791
        y: 454.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '问题如下：{{#sys.query#}}



            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: b53b1e26-6e40-443b-b520-56dcbb04893f
          role: system
          text: "## 核心任务\n严格按照以下逻辑和信息源优先级，生成一个与用户问题高度相关、准确且连贯的回答。\n\n## 信息源优先级\n1.\
            \  **记忆窗口内容（最高）**\n2.  **（可选）外部知识库**\n3.  **模型内置知识（最低，用于补充和润色）**\n\n##\
            \ 执行逻辑 (IF-ELSE结构)\n**IF** 用户明确表示“无需检索知识库”：\n    *   **THEN** 执行【**流程A：无知识库检索**】。\n\
            **ELSE** (默认情况):\n    *   **THEN** 执行【**流程B：标准检索**】。\n\n---\n### 【流程A：无知识库检索】\n\
            1.  **分析**：仅分析“记忆窗口内容”（如果存在）。\n2.  **整合**：以“记忆窗口内容”为核心，结合模型内置知识进行回答。\n\
            3.  **生成**：生成直接回应用户问题的答案。\n\n### 【流程B：标准检索】\n1.  **分析**：分析“记忆窗口内容”、“外部知识库”中的所有相关信息。\n\
            2.  **整合**：\n    *   以“记忆窗口内容”为最高优先级信息，整合所有来源的信息。\n    *   如果信息源之间存在冲突，优先采信“记忆窗口内容”。\n\
            3.  **生成**：结合模型内置知识，生成一个连贯、准确且直接回应用户问题的答案。"
        selected: false
        title: 回答上下文窗口问题
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754893718651'
      position:
        x: 2216
        y: 336
      positionAbsolute:
        x: 2216
        y: 336
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1754893718651.text#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 105
      id: '1754893784359'
      position:
        x: 2550
        y: 336
      positionAbsolute:
        x: 2550
        y: 336
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1754890387106'
          - text
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: /home/user/Desktop/MODELFILE/Qwen3-30B-A3B-think-2507
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 07df0fb2-de9c-4a22-979c-859591327e5e
          role: system
          text: '**总则：请全程使用中文进行思考和回答。**


            你的任务是从用户提供的文本（`{{#context#}}`）中，识别并分别提取两种类型的信息：**1) 政策条款** 和 **2) 政策问题**。


            请严格按照以下定义和格式进行操作。


            ---


            ### **任务一：识别和提取“政策条款”**


            **“政策条款”** 是指描述公司强制性要求、操作标准、合规义务或明确责任的陈述句。


            **识别标准（满足以下任一即可）：**

            *   **强制性词语：** 包含“**必须**”、“**应**”、“**将**”、“**要求**”、“**规定**”、“**禁止**”等词语。

            *   **明确的责任：** 明确了特定角色（如员工、供应商、承包商）的责任或义务。

            *   **技术/管理控制：** 描述了具体的安全或操作控制措施（如“使用VPN”、“加密存储”、“记录日志”）。

            *   **合规性要求：** 明确引用了外部法律法规或行业标准作为行为依据（如“**符合GDPR**”、“**满足《网络安全法》要求**”、“**遵循ISO27001标准**”）。

            *   **标准操作程序（SOP）：** 带有编号（特别是带小数点的，如 `3.1.2`）并描述具体操作步骤或规则的条款。


            **示例原文：**

            *   “供应商必须签署保密协议。”

            *   “个人数据应加密存储，以满足《网络安全法》要求。”

            *   “4.2.1 所有对生产数据库的访问都必须通过双因素认证（2FA）。”


            ---


            ### **任务二：识别和提取“政策问题”**


            **“政策问题”** 是指为了验证某项政策是否被遵守而提出的疑问句或检查项。


            **识别标准：**

            *   **疑问形式：** 通常以“**是否**”、“**如何**”、“**有没有**”等词开头，或以问号“**？**”结尾。

            *   **审核性陈述：** 以“**检查项**”、“**审核点**”、“**验证**”、“**确保**”等词语引导的，用于确认合规状态的陈述句。

            *   **内容相关性：** 问题的核心内容直接关联到某项规则的执行情况。


            **示例原文：**

            *   “是否对所有个人数据实施加密存储？”

            *   “是否要求所有供应商签署保密协议？”

            *   “检查项：确认所有数据库访问均已记录日志。”


            ---


            ### **输出要求**


            请将所有识别出的结果汇总到一个**表格**中进行输出。


            *   **表格格式**：表格应包含三列，依次为：**“序号”**、**“类型”**和**“内容”**。

            *   **“序号”列**：从1开始的自动递增编号。

            *   **“类型”列**：明确标注该条目是“**政策条款**”还是“**政策问题**”。

            *   **“内容”列**：填入从原文中提取的完整句子。


            **输出表示例：**


            | 序号 | 类型 | 内容 |

            | :--- | :--- | :--- |

            | 1 | 政策条款 | 供应商必须签署保密协议。 |

            | 2 | 政策条款 | 个人数据应加密存储，以满足《网络安全法》要求。 |

            | 3 | 政策问题 | 是否对所有个人数据实施加密存储？ |

            | 4 | 政策问题 | 检查项：确认所有数据库访问均已记录日志。 |



            **重要提示：**

            *   如果原文中没有找到任何符合条件的内容，则输出一个空表。

            *   不要自己创造或改写内容，严格从原文中提取。

            *   **再次强调，必须全程使用中文进行思考和回答，并以包含序号的三列表格形式呈现最终结果。**'
        selected: false
        title: 问题/条款提取
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754895269605'
      position:
        x: 3643
        y: 294
      positionAbsolute:
        x: 3643
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '已提取出以下问题/条款：


          {{#1754895269605.text#}}'
        desc: ''
        selected: false
        title: 问题/条款回复
        type: answer
        variables: []
      height: 121
      id: '1754895315893'
      position:
        x: 3977
        y: 294
      positionAbsolute:
        x: 3977
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\ndef main(arg1: str) -> dict:\n    clean_answer = re.sub(r'<think[^>]*>.*?</think>',\
          \ '', arg1, flags=re.DOTALL)  # Fixed pattern\n    final_answer = re.sub(r'^\\\
          n+', '', clean_answer)  # Separate line\n    return {\n        \"result\"\
          : final_answer,\n    }\n\n\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 删除模型思考
        type: code
        variables:
        - value_selector:
          - '1754895269605'
          - text
          value_type: string
          variable: arg1
      height: 54
      id: '1754895400510'
      position:
        x: 4311
        y: 294
      positionAbsolute:
        x: 4311
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '已提取出以下问题/条款：


          {{#17548924672480.text#}}'
        desc: ''
        selected: false
        title: 问题/条款回复
        type: answer
        variables: []
      height: 121
      id: '17548964844000'
      position:
        x: 3977
        y: 758
      positionAbsolute:
        x: 3977
        y: 758
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\ndef main(arg1: str) -> dict:\n    clean_answer = re.sub(r'<think[^>]*>.*?</think>',\
          \ '', arg1, flags=re.DOTALL)  # Fixed pattern\n    final_answer = re.sub(r'^\\\
          n+', '', clean_answer)  # Separate line\n    return {\n        \"result\"\
          : final_answer,\n    }\n\n\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 删除模型思考
        type: code
        variables:
        - value_selector:
          - '17548924672480'
          - text
          value_type: string
          variable: arg1
      height: 54
      id: '17548965187830'
      position:
        x: 4311
        y: 758
      positionAbsolute:
        x: 4311
        y: 758
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -2776.6256920330497
      y: -126.47409103003753
      zoom: 0.8705505632961246
